<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<ul>
    {{if and (lt .num 200) (gt .num 100)}}
        <p>num小于200大于100</p>
    {{else}}
        <p>num大于200或小于100</p>
    {{end}}
</ul>

<hr>

{{range $index,$value := .slice}}
<p>{{$index}}---{{$value}}</p>
{{end}}

<hr>

{{range $key,$value := .map}}
<p>{{$key}}:{{$value}}</p>
{{end}}

<hr>

{{range .books}}
<p>{{.Name}}</p>
{{end}}

</body>
</html>