<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resource/css/bootstrap.css">
    <title>Document</title>
</head>
<body>

<div class="container">
    <table class="table table-bordered table-hover text-center">
        <tr>
            <th>ID</th>
            <th>书名</th>
            <th>作者</th>
            <th>价格</th>
            <th>出版时间</th>
        </tr>
        {{range .books}}
        <tr>
            <td>{{.Id}}</td>
            <td>{{.Name}}</td>
            <td>{{.Author}}</td>
            <td>{{.Price}}</td>
            <td>{{.PublishTime}}</td>
        </tr>
        {{end}}
    </table>
    
</div>

</body>
</html>